<!-- content 
	================================================== -->
<div id="content">
	<div class="inner-content">

    <div class="row">
	    <div class="col-md-8">
	      <h3>Заметки</h3>

	      <%= render 'web/posts/posts_list', posts: @posts %>
	      <%= link_to "Все заметки...", posts_path, class: "show-more" %>
	    </div>

			<div class="col-md-4">
				<h3>Полезные ссылки</h3>
				<%= render 'web/links/links_list', links: @links %>
			</div>

		</div>

  </div>
</div>