<% provide(:title, 'Home') %>

<div class="row">
	<div class="span12">
	  <div class="thema-text">Резюме</div>

	  <table class="resume">
	  	<tr>
	  		<td class="title">
	  			Образование
	  		</td>

	  		<td class="description">
  	  		2007 Ульяновский государственный университет. Факультет математики и нформационных технологий. Специальность - прикладная информатика.
	  		</td>
	  	</tr>

	  	<tr>
	  		<td class="title">
	  			Знание языков
	  		</td>

	  		<td class="description">
	  		  Русский - родной
  	  	  </br>
	  		  Английский - базовые знания. (Свободно не говорю, читаю со словарём)
	  		</td>
	  	</tr>

	  	<tr>
	  		<td class="title">
	  			Повышение квалификации, курсы
	  		</td>

	  		<td class="description">
	  			2009 Курсы английского языка Pre-intermediate (возобновил обучение в 2013)
	  		</td>
	  	</tr>

	  	<tr>
	  		<td class="title">
	  			Тесты, экзамены
	  		</td>

	  		<td class="description">
	  			2009 RetraTech сертификация онлайн. Программирование C++
	  		</td>
	  	</tr>

	  	<tr>
	  		<td class="title">
	  			Опыт работы
	  		</td>

	  		<td class="description">
	  		  ОАО "УКБП" (Ульяновское конструкторское бюро приборостроения). <a>www.ukbp.ru</a>
	  	    </br>
	  	    Должность - инженер-программист</br>
	  	    </br>
	  	    Разработка и поддержка программных модулей, обеспечивающих отображение пилотажно-навигационной информации и организацию ввода заданных значений ряда параметров в рамках создания специального программного обеспечения системы электронной индикации. Разработка технической документации</br>
	  	    </br>
	  	    Работал над проектами для вертолётов:</br>
	  	    КА-32А11ВС, Ансат, КА-226, КА-226Т, МИ-8 АМТШ-В</br>
	  	    </br>
	  	    Достижения, успехи:</br>
	  	    Решение поставленных задач в сжатые сроки.</br>
	  	    Разработка библиотеки для построения систем меню.</br>
	  	    Успешное внедрение систем управления проектами и системы управления версиями (совместно с руководством)
	  		</td>
	  	</tr>

	  	<tr>
	  		<td class="title">
	  			Языки программирования
	  		</td>

	  		<td class="description">
					<ol>
						<li>C – язык, на котором пишу ПО в настоящее время;</li>
					  <li>C++;</li>
					  <li>SQL;</li>
					  <li>C#;</li>
					  <li>Ruby</li>
					</ol>
	  		</td>
	  	</tr>

	  	<tr>
	  		<td class="title">
	  			Технологии программирования
	  		</td>

	  		<td class="description">
	  			<ol>
					  <li>ООП;</li>
				    <li>TDD (Test drive development)</li>
				  </ol>
	  		</td>
	  	</tr>

	  	<tr>
	  		<td class="title">
	  			Верстка
	  		</td>

	  		<td class="description">
				  <ol>
					  <li>HTML;</li>
				    <li>CSS</li>
				  </ol>
				</td>
	  	</tr>

	  	<tr>
	  		<td class="title">
	  			Frameworks
	  		</td>

	  		<td class="description">
	  			<ol>
					  <li>Ruby On Rails;</li>
					  <li>Twitter Bootstrap</li>
				  </ol>
				</td>
	  	</tr>


	  	<tr>
	  		<td class="title">
	  			Операционные системы
	  		</td>

	  		<td class="description">
					<ul>
						<li>Windows;</li>
						<li>Linux (Ubuntu) - небольшой опыт;</li>
					</ul>
				</td>
	  	</tr>

	  	<tr>
	  		<td class="title">
	  			Средства разработки
	  		</td>

	  		<td class="description">
					<ul>
					  <li>MS Visual Studio 2010;</li>
					  <li>C++ Builder 5;</li>
					  <li>Sublime;</li>
					  <li>Vagrant</li>
				  </ul>
				</td>
	  	</tr>

	  	<tr>
	  		<td class="title">
	  			Средства тестирования
	  		</td>

	  		<td class="description">
				  <ul>
				  	<li>RSpec</li>
				  	<li>NUnit</li>
				  </ul>
				</td>
	  	</tr>

	  	<tr>
	  		<td class="title">
	  			Система управления проектами
	  		</td>

	  		<td class="description">
					<ul>
					  <li>JIRA;</li>
					  <li>IBM Rational DOORS</li>
				  </ul>
				</td>
	  	</tr>

	  	<tr>
	  		<td class="title">
	  			Система управления версиями
	  		</td>

	  		<td class="description">
					<ul>
					  <li>JIRA;</li>
					  <li>IBM Rational DOORS</li>
				  </ul>
				</td>
	  	</tr>
	  </table>

	  <b>Связаться со мной можно по электронной почте: <span style="color: blue;">albertulgu@list.ru</span></b>

	</div>
</div>