<% provide(:title, 'Admin section update') %>
<div class="thema-text">Обновление раздела</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'form', submit_title: "Сохранить изменения" %>
  </div>
</div>