<% provide(:title, 'Admin section create') %>
<div class="thema-text">Создание нового раздела</div>

<div class="row">
  <div class="span12">
    <%= render 'form', submit_title: "Создать раздел" %>
  </div>
</div>