<% provide(:title, 'Admin section create') %>
<h1>Создание нового раздела</h1>

<div class="row">
  <div class="span6 offset3">
    <%= render 'form', submit_title: "Создать раздел" %>
  </div>
</div>