<% provide(:title, 'Admin link create') %>
<div class="thema-text">Создание новой ссылки</div>

<div class="row">
  <div class="span12">
    <%= render 'form', submit_title: "Создать ссылку" %>
  </div>
</div>