<% provide(:title, 'Web posts') %>

<div class="row">
  <div class="span10">

    <h2>Заметки</h2>
		<%= render 'web/shared/posts/posts_list', posts: @posts %>
		<%= will_paginate @posts %>

  </div>

  <%= render 'web/shared/fixed_list_categories', categories: @categories, path_creator: method(:category_posts_path) %>


</div>
