<% provide(:title, 'Web post') %>
<div class="thema-text">
	<%= @post.title %>
</div>
<%= @post.content.html_safe %>

<div>
  <span class="color-green">Категория: </span>
  <%= link_to "#{@post.category.name}", posts_path(posts: {category_id: @post.category} ) %>
</div>