<% provide(:title, 'Admin post') %>
<div class="thema-text">Администрирование заметок</div>

<div class="button_new_record_db">
  <%= link_to 'Новая заметка...', new_admin_post_path, :class => 'btn btn-primary' %>
</div>
<!--<table id="example" class="table table-bordered">-->
<table id="post-datatable" class="display" cellspacing="0" width="100%">
	<thead>
		<tr>
      <th>ID</th>
      <th>Created At</th>
      <th>Title</th>
      <th>Category</th>
      <th>Published</th>
      <th></th>
      <th></th>
		</tr>
  </thead>
  <tfoot>
    <tr>
      <th></th>
      <th><input id="create-at-filter" type="text" class="clearable"/></th>
      <th><input id="title-filter" type="text" class="clearable"/></th>
      <th>
        <select id="category-filter" data-placeholder="" style="width: 100%" class="chosen-select-deselect" multiple tabindex="12">
          <% @categories.each do |category| %>
            <option value="<%= category.id %>"><%= category.name %></option>
          <% end %>
        </select>
      </th>
      <th>
        <select id="published-filter" data-placeholder="" style="width: 100%" class="chosen-select-deselect" multiple tabindex="12">
          <option value="true">true</option>
          <option value="false">false</option>
        </select>
      </th>
      <th></th>
      <th></th>
    </tr>
  </tfoot>
	<tbody>
  </tbody>
</table>
