<% provide(:title, 'Admin post') %>
<div class="thema-text">Администрирование заметок</div>

<div class="button_new_record_db">
  <%= link_to 'Новая заметка...', new_admin_post_path, :class => 'btn btn-primary' %>
</div>
<!--<table id="example" class="table table-bordered">-->
<table id="post-datatable" class="display" data-source="<%= admin_posts_url(format: "json") %>" cellspacing="0" width="100%">
	<thead>
		<tr>
      <th>ID</th>
      <th>Created At</th>
      <th>Title</th>
      <th>Category</th>
      <th>Published</th>
      <th></th>
      <th></th>
		</tr>
  </thead>
	<tbody>
  </tbody>
</table>
