<% provide(:title, 'Admin post create') %>
<div class="thema-text">Создание новой заметки</div>

<div class="row">
  <div class="span12">
    <%= render 'form', submit_title: "Создать заметку" %>
  </div>
</div>