<% links.each do |link| %>
  <div style="padding: 0 0 15px 0">
    <img height="16" width="16" src="http://www.google.com/s2/favicons?domain=<%= link.url %>" />
  	<%= link_to link.url, link.url %>
  	<%= link.description.html_safe %>
  </div>  	  	
<% end %>
