<% provide(:title, 'Admin user update') %>
<h1>Обновление пользователя</h1>

<div class="row">
  <div class="span6 offset3">
    <%= render 'form', submit_title: "Сохранить изменения" %>
  </div>
</div>