<% provide(:title, 'Admin user update') %>
<div class="thema-text">Обновление пользователя</div>

<div class="row">
  <div class="span12">
    <%= render 'form', submit_title: "Сохранить изменения" %>
  </div>
</div>