<% provide(:title, 'Admin user create') %>
<div class="thema-text">Создание нового пользователя</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'form', submit_title: "Создать пользователя" %>
  </div>
</div>