// Place all the styles related to the web/Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.books-desc {
  border-collapse: separate;
  border-spacing: 10px;
}

.border-corner {
  border: 1px #CCCCCC solid; // стили рамки
  -moz-border-radius: 10px 10px 0 0; // закругление для старых Mozilla Firefox 
  -webkit-border-radius: 10px 10px 0 0; // закругл. для старых Chrome и Safari
  -khtml-border-radius: 10px 10px 0 0; // закругл.для брауз.Konquerer сист. Linux
  border-radius: 10px 10px 10px 10px; // закругление углов для всех, кто понимает
  padding: 5px;
}