.link-list h2 {
  color: #000000;
  font-size: 28px;
  font-family: Courier New;
  font-weight: normal;
  line-height: 34px;
  margin: 14px 0 8px;
}

.link-desc {
  color: #444444;
  font-size: 14px;
  font-family: Courier New;
  line-height: 23px;
  margin: 0 0 18px;
}

.link-desc a {
	font-size: 14px;
}

/*.link-list .link-desc {
  padding: 0 0 15px 0;
}
*/