// Place all the styles related to the web/Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.media-body-interval {
	margin: 0 0px 30px 0px;
}

.color-green {
	color: green;
}

.fix-position {
	  position: fixed; /* Фиксированное положение */
    right: 5%; /* Расстояние от правого края окна браузера */
    /*top: 20%;  Расстояние сверху */
    /*padding: 10px;  Поля вокруг текста */ 
    /*background: #ffe;  Цвет фона */ 
    /*border: 1px solid #333;  Параметры рамки */ 
}