  <% if categories.count > 0 %>
		<div class="fix-position category-group">
			<div class="color-green">
				Категории:
			</div>

			<ul class="nav nav-pills nav-stacked">
			  <% categories.each do |category| %>
			    <li><%= link_to category.name, path_creator.call(category) %></li>
			  <% end %>
		  </ul>
		</div>
	<% end %>