<% provide(:title, 'Admin book create') %>
<div class="thema-text">Создание новой книги</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'form', submit_title: "Создать книгу" %>
  </div>
</div>