<% provide(:title, 'Admin category update') %>
<div class="thema-text">Обновление категории</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'form', submit_title: "Сохранить изменения" %>
  </div>
</div>