<% provide(:title, 'Admin category create') %>
<div class="thema-text">Создание новой категории</div>

<div class="row">
  <div class="span12">
    <%= render 'form', submit_title: "Создать категорию" %>
  </div>
</div>