<% provide(:title, 'Admin category create') %>
<h1>Создание новой категории</h1>

<div class="row">
  <div class="span6 offset3">
    <%= render 'form', submit_title: "Создать категорию" %>
  </div>
</div>