
.fix-position {
    position: fixed; // Фиксированное положение
    //right: 5%; Расстояние от правого края окна браузера
    //top: 20%;  Расстояние сверху
    //padding: 10px;  Поля вокруг текста
    //background: #ffe;  Цвет фона
    //border: 1px solid #333;  Параметры рамки
}

.center {
  text-align: center;
  margin: auto; // Выравниваем по центру
  h1 {
  	margin-bottom: 10px;
  }
}

.thema-text {
  font: 20pt sans-serif;
  margin: 5px 5px 25px 0px;
}