
.fix-position {
    position: fixed; // Фиксированное положение
}

.center {
  text-align: center;
  margin: auto; // Выравниваем по центру
  h1 {
  	margin-bottom: 10px;
  }
}

.thema-text {
  font: 20pt sans-serif;
  margin: 5px 5px 25px 0px;
}