.resume {
	td {
	  // border: 1px solid black; 
	  padding-bottom: 20px;
	  font-size: medium;
  }

  .title {
  	width: 200px;
  	text-align: right;
  	vertical-align: top;
  	padding-right: 10px;
  	font-weight: bolder;
  }

  .description {
  	vertical-align: top;
  	text-align: left;
  	padding-left: 10px;
  }
}
