<% provide(:title, 'Web links') %>
<% group_categories = @group_links.keys.each_slice(3).to_a %>
<% group_categories.each do |group| %>
  <div class="row">
  	<% group.each do |category| %>
  	  <div class="span4">
  	  	<h2><%= category.name %></h2>
  	  	<% links = @group_links[category] %>
  	  	<% links.each do |link| %>
          <div style="padding: 0 0 7px 0">
          	<%= link_to link.url, link.url %>
          	<%= link.description %>
          </div>  	  	
  	  	<% end %>
  	  	<p><a class="btn" href="#">Все ссылки &raquo;</a></p>	
  	  </div>
  	<% end %>
  </div>
<% end %>