<% provide(:title, 'Web links') %>

    <div id="content">
      <div class="inner-content">
        <div class="blog-page">
          <div class="container">
            <div class="row">
              <div class="col-md-9">
                <div class="blog-box">
                  <% @group_links.each do |category, links| %>
                    <h2><%= category.name.to_s %></h2>
                    <%= render 'web/links/links_list', links: links %>
                    <a class="btn btn-primary" href= "<%= category_links_path(category) %>">Все ссылки &raquo;</a>
                  <% end %>
                </div>
              </div>

              <div class="col-md-3">
                <div class="sidebar">

                  <%= render 'web/shared/fixed_list_categories', categories: @categories, path_creator: method(:category_links_path) %>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>