<footer>
	<div class="metrics-box">
	  <%= render 'metriks/yandex_metrik' %>
    <%= render 'metriks/google_analytic' %>
  </div>

  <div class="author-rights">
    &#169; 2014 laboq inc,  All Rights Reserved</br>
    &#169; 2014 Галиуллов Альберт
  </div>
  <!--<ul class="social-icons">
    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
    <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
    <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
  </ul>-->
</footer>