<footer class="footer">

  <%= render 'metriks/yandex_metrik' %>
  <%= render 'metriks/google_analytic' %>

	<div>
	  <small>
	    Галиуллов Альберт Раисович
	  </small>
	</div>
  <nav>
    <ul>
      <li><%= link_to "albertulgu@list.ru", '#' %></li>
    </ul>
  </nav>
</footer>